<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    @* bpmn-js servido local: el disenador funciona sin salida a internet. *@
    <link rel="stylesheet" href="lib/bpmn-js/diagram-js.css" />
    <link rel="stylesheet" href="lib/bpmn-js/bpmn-js.css" />
    <link rel="stylesheet" href="lib/bpmn-js/bpmn-font.css" />
    <link rel="stylesheet" href="@Assets["DokTrino.SuperAdmin.styles.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="js/wompi.js?v=3"></script>
    <script src="js/pipeline-dnd.js?v=3"></script>
    <script src="js/agent-editor.js?v=3"></script>
    <script src="js/nm-firma.js?v=1"></script>
    <script src="js/form-toc.js?v=7"></script>
    <script src="js/form-voice.js?v=2"></script>
    <script src="lib/bpmn-js/bpmn-modeler.production.min.js"></script>
    <script src="js/bpmn-designer.js"></script>
</body>

</html>
